.vs/
ProfileData/
Assets/Resources/api_access_key.txt
Assets/Resources/api_access_key.txt.meta

# Items below were copied from the iSpy-game-unity repo's gitignore

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
library/
Assets/AssetStoreTools*
ros_ip_addr

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.userprefs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*apk